* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

#navbar {
  background-color: grey;
  color: white;
  height: 49.5px;
}

#navbar > ul {
  list-style: none;
  height: 49.5px;
}

#navbar ul li {
  display: inline-block;
  /* line-height: 49.5px; */
  padding: 15px;
}

#navbar a {
  text-decoration: none;
  color: white;
  transition-property: letter-spacing background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

#navbar a:hover {
  letter-spacing: 4px;
  background-color: darkgrey;
}

main {
  padding: 32px;
}

#profile > h1 {
  margin: 20px 0;
  font-size: 42px;
}

#profile .img-container {
  width: 320px;
  height: 320px;
  border: 1px solid black;
  overflow: hidden;
}

#profile > .img-container > img {
  width: 100%;
  /* overflow: hidden; */
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

#profile img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 770px) {
  #profile > h1 {
    text-align: center;
  }

  #profile > .img-container {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
  }
}


#detail > .info {
  width: 50%;
  /* display: grid; */
  float: left;
}

#detail > .info > h2 {
  font-size: 32px;
  font-weight: bold;  
  margin: 30px 0px 10px;
}

#detail > .info > ul, ol {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

footer {
  clear: both;
  width: 100%;
  height: 151px;
  background-color: #d3d3d3;
  padding: 40px;
}

footer div {
  margin: 16px 0px;
}